{% extends 'layout.html' %}
{%block body %}
<div class="col-lg-6 col-lg-offset-3">
	
<form class="form-group well" method="POST" action="/def">
<h1 class="text-warning" style="color:orange" ><center><b>LOGIN</b><center></h1><br>
<input type="text" class="form-control" placeholder="Username" name="name"><br>
<input type="email" class="form-control" placeholder="Enter Email" name="email"><br>
<input type="password" class="form-control" placeholder="Enter password" name="password"><br>
<input type="submit" class="btn btn-warning btn-lg" value="Login"> 
&nbsp
<a href="/signup" style="text-decoration: none">Dont have an account..?Signup</a>
</form>
</div>


{% endblock %}
</body>
</html>
